body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.name_color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}
.backround-map{
    height: 800px;
    background-color: rgb(255, 251, 244);
}

.hight-withd1stPic{
    width: 755px;
    height: 545px;
}

.half-width {
    width: 50%;
    padding-left: 8%;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(image/developer.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(image/2nd.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200px;
}
.experience-add{
    background-image: url(image/backround.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100px;
    margin: 0;
}
.expereicne-item{
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 20px;
    border-radius: 4px;
    box-shadow: 10px 10px 40px gray;
}

#Full-stack{
    border-left: 7px solid tomato;
}

#Baby-Web{
    border-left: 7px solid blue;
}

footer p{
    text-align: center;
}